{{!-- Mon profil de --}}

<div class="container">
    <div class="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <img class="card-img-top taille-image" src="/public/img/black.png" alt="Card image cap">
                <div class="card-block mt-3">
                    <h4 class="card-title text-light text-info">OURFI Ornella</h4>
                    <p class="card-text text-light space-line">
                        <i class="fas fa-graduation-cap text-info"></i> => Futur Développeuse Full-Stack diplomée <br>
                        <i class="fas fa-laptop-code text-info"></i> => Passionée par le Développement Back-end<br>
                        <i class="fas fa-chalkboard-teacher text-info"></i> => Je souhaite apprendre quotidiennement au
                        sein d'une start-up ou entreprise<br>
                        <i class="fas fa-dragon text-info"></i> => Adepte de la bonne cuisine asiatique et notamment les
                        séries chinoises et coréennes

                    </p>

                </div>
                <form method="GET" action="cv" class="text-center text-light mt-3">
                    <p> <i class="fas fa-arrow-circle-down text-info"></i> </p>
                    <p> CV </p>

                    <p> <i class="fas fa-arrow-circle-down text-light"></i> </p>

                    
                 <a class="btn btn-outline-info" href="/public/img/cv-Ornella.pdf" download="cv-Ornella.pdf">Download</a>
                    
                </form>
            </div>
        </div>

    </div>

</div>

</div>


<style>
    .inline {
        display: inline;
    }

    .link-button {
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1em;
        font-family: serif;
    }

    .link-button:focus {
        outline: none;
    }

    .link-button:active {
        color: red;
    }

    * {
        font-family: initial;
    }

    .content {

        margin-top: 100px;
        min-height: 100vh;
        //max-width: 50em;
        /* To make the user able to see the content  */
    }

    .card {
        margin-top: 150px;
        background-color: transparent;
        border: 1px solid transparent;
    }



    .card-block {
        text-align: center;
    }



    .mx-width {
        max-width: 900px;
        margin: 0 auto;
    }


    .taille-image {
        width: 200px;
        margin-inline: auto;
        border: 5px solid;
        border-radius: 40px;


    }

    .space-line {
        line-height: 2em;
    }

    form {
        padding-bottom: 200px;
    }
</style>