<!DOCTYPE html>
<html>

<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/js/bootstrap.css">
  <link rel="stylesheet" href="/public/img/css/style.css">
  <link rel="stylesheet" href="/public/img/css/styleNav.css">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/img/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Ornella Ourfi</title>

</head>

<body>
  {{{body}}}



</body>

</html>