{{> navbar}}

{{!-- Result après que le user ait envoyé un message --}}

<div class="container content">

  <section class="mb-3 text-light text-center container text-white font-weight-normal">
    <h2> Merci {{this.name}}</h2>
    <h3> Patience ... la réponse ne tardera pas</h3>
    <h6>Délai : moins de 24 heures</h6>
  </section>

  <div><img src="/public/img/merci.gif" class="border border-light rounded " /></div>


</div>

{{>footer_ok}}

<style>
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

  body {
    background: rgb(30, 30, 40);
    text-align: -webkit-center;
    background-image: url("/public/img/5a2c61199c0fa1.0890734315128578816392.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 150px;
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }



  img {
    height: 100%;
    width: 100%;
  }
  }

  body {
    background-image: url("/public/img/5a2c61199c0fa1.0890734315128578816392.png");
    background-repeat: no-repeat;
    background-position: bottom;

  }

  /* Content Style */
  .content {
    margin-top: 100px;
    min-height: 100vh;
    max-width: 50em;
    /* To make the user able to see the content  */
  }

  .content h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }


  .feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background: rgb(30, 30, 40);
    border: 2px solid #7dabdb;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
  }

  .feedback-input:focus {
    border: 2px solid #7dabdb;
  }

  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }

  [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 100%;
    background: #7dabdb;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }

  [type="submit"]:hover {
    background: #7dabdb;
  }
</style>