{{> navbar}}

{{!-- Porfolio de mes projets --}}
 <div class="content3">
  <h3>Portfolio</h3>
 </div>
  
<div class="container content row text-light textText bottom-speciale">


  <div class="col-md-4 col-lg-4 mt-4 ">

    <div class="card profile-card-5 content2">
      <div class=" card-img-top">
          <div class="carousel-inner card-img-top ">
          
              <img class="card-img-top" src="/public/img/meteo.jpg" alt="">
         
        </div>
      </div>
      <div class="card-body pt-0">
        <h5 class="card-title">Météo</h5>
        <div class="row">
        
          <p class="btn-get-started">ReactJs</p>
          </ul>
        </div>
        <p class="card-text">Projet réalisé en suivant un tuto sur Udemy</p>
      <br>
    
    
    <a href="https://github.com/Ornella452/projet-meteo.git" class="btn-get-started2">lien Github</a> 

      </div>
    </div>
    <p class="mt-3 mb-3 w-100 float-left text-center"><strong>Projet en autodidacte</strong></p>
  </div>
  <div class="col-md-4 col-lg-4 mt-4 ">
    <div class="card profile-card-5 content2">
      <div class=" card-img-top">


        <div id="Card2" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#Card2" data-slide-to="0" class="active"></li>
            <li data-target="#Card2" data-slide-to="1" class=""></li>
            <li data-target="#Card2" data-slide-to="2" class=""></li>

          </ol>
          <div class="carousel-inner card-img-top zoom">
            <div class="carousel-item active">
              <img class="card-img-top" src="/public/img/image11.jpg" alt="image 1">
            </div>
            <div class="carousel-item">
              <img class="card-img-top" src="/public/img/image1.jpg" alt="image 2">
            </div>
            <div class="carousel-item profile-card-5">
              <img class="card-img-top" src="/public/img/image2.jpg" alt="image 4">
            </div>
            <div class="carousel-item profile-card-5">
              <img class="card-img-top" src="/public/img/image4.jpg" alt="image 5">
            </div>
            <div class="carousel-item profile-card-5">
              <img class="card-img-top" src="/public/img/image5.jpg" alt="image 6">
            </div>
            <a class="carousel-control-prev" href="#Card2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Card2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h5 class="card-title">On The Road 5G</h5>
        <div class="row">
          <p class="btn-get-started">NodeJs</p>
          <p class="btn-get-started">ReactJs</p>
          </ul>
        </div>
        <p class="card-text">J'ai eut l'idée de ce projet pour localisé les antennes 5G en France.<br>Projet de fin de formation réalisé from scratch, en équipe, en 2 semaines</p>
        <p>Mon role : Back-end</p>

      </div>
    </div>
    <p class="mt-3 mb-3 w-100 float-left text-center"><strong>"Projet Fin Formation Konexio.eu"</strong></p>
  </div>
  <div class="col-md-4 col-lg-4 mt-4 ">
    <div class="card profile-card-5 content2">
      <div class=" card-img-top">


        <div id="Card3" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#Card3" data-slide-to="0" class="active"></li>
            <li data-target="#Card3" data-slide-to="1" class=""></li>
            <li data-target="#Card3" data-slide-to="2" class=""></li>

          </ol>
          <div class="carousel-inner card-img-top">
            <div class="carousel-item active">
              <img class="card-img-top" src="/public/img/homepage.JPG" alt="home">
            </div>
            <div class="carousel-item">
              <img class="card-img-top" src="/public/img/pprofil.JPG" alt="profil">
            </div>
            <div class="carousel-item">
              <img class="card-img-top" src="/public/img/portfolio.JPG" alt="porfolio">
            </div>
                <div class="carousel-item">
              <img class="card-img-top" src="/public/img/contact2.JPG" alt="contact">
            </div>
            <a class="carousel-control-prev" href="#Card3" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Card3" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h5 class="card-title">Portfolio</h5>
        <div class="row">
          <p class="btn-get-started">NodeJs</p>
          <p class="btn-get-started">Html/ Css/ Bootstrap</p>
          </ul>
        </div>
        <p class="card-text">Porfolio réaliser en NodeJs (handlebars) en 1 semaine et demi .</p>

      </div>
    </div>
    <p class="mt-3 mb-3 w-100 float-left text-center"><strong>"Projet en autodidacte"</strong></p>
  </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
{{> footer_ok}}

<style>
  .bottom-speciale{
        padding-bottom: 160px;
  }
  .img {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
  }

  .textText {
    font-family: initial;
  }

  .card-title {
    margin-block-start: 15px;
    text-align: center;
  }

  .content2 {
    font-size: 1.125rem;
    line-height: 1.5em;
    max-width: 553px;
    padding: 25px;
    margin-top: 70px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .028), hsla(0, 0%, 100%, .091));
    -webkit-backdrop-filter: blur(26px);
    backdrop-filter: blur(26px);
    border-radius: 40px;
  }

  .content {
   // margin-top: 25px
    min-height: 100vh;
    //max-width: 50em;
    
    /* To make the user able to see the content  */
  }
   .content3 {
    margin-top: 120px;
    text-align: center;
    color: white;
    margin-bottom: 0;
 
 
  }

  .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    /* letter-spacing: 1px; */
    display: inline-block;
    padding: 0px 16px;
    border-radius: 50px;
    /* transition: 0.5s; */
    margin: 10px;
    border: 2px solid lightskyblue;
    color: #fff;
    font-size: xx-small;
  }  
  .btn-get-started2 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    /* letter-spacing: 1px; */
    display: inline-block;
    padding: 0px 16px;
    border-radius: 50px;
    /* transition: 0.5s; */
    margin: 10px;
    border: 2px solid lightskyblue;
    color: #fff;
    font-size: small;
    margin-left: 50px;
  }
  .zoom {
 

  transition: transform .2s; /* Animation */

}
</style>